/.gradle/
/build/
/out/
/bin/
.idea/
*.iml
.vscode/
*.log

# Vaadin: beim Build erzeugt
/src/main/frontend/generated/
/src/main/frontend/index.html
/src/main/bundles/
/node_modules/
/vite.generated.ts
/package.json
/package-lock.json
/tsconfig.json
/types.d.ts
/vite.config.ts
